@keyframes beat {
    0% {transform: scale(1) rotate(225deg); box-shadow:0 0 40px #d5093c;}
    50% {transform: scale(1.1) rotate(225deg); box-shadow:0 0 70px #d5093c;}
    100% {transform: scale(1) rotate(225deg); box-shadow:0 0 40px #d5093c;}
}

@font-face {
    font-family: 'Cansellarist';
    src: url('../font/Cansellarist.eot');
    src: url('../font/Cansellarist.eot?#iefix') format('embedded-opentype'),
    url('../font/Cansellarist.woff2') format('woff2'),
    url('../font/Cansellarist.woff') format('woff'),
    url('../font/Cansellarist.ttf') format('truetype'),
    url('../font/Cansellarist.svg#Cansellarist') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Cansellarist', 'Arial', 'sans-serif';
    font-size: 90px;
}

.item {
    margin-top: 100px;
}

.item.video.show,
.item.secret-code.show {
    position: relative;
    top: 0;
}

.item.step-one.hide,
.item.video.hide {
    display: none;
}

.main-btn {
    width: max-content;
    margin: 0 auto;
}

.chest {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 90px auto;
    cursor: pointer;
}
.heart {
    position:absolute;
    z-index: 2;
    background: -moz-linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%,#F50A45), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-90deg, #F50A45 0%,#d5093c 40%);
    background: linear-gradient(-90deg, #F50A45 0%,#d5093c 40%);
    -webkit-animation: beat 0.7s ease 0s infinite normal;
    -moz-animation: beat 0.7s ease 0s infinite normal;
    animation: beat 0.7s ease 0s infinite normal;
}
.heart.center {
    background: -moz-linear-gradient(-45deg, #B80734 0%, #d5093c 40%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#B80734), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-45deg, #B80734 0%,#d5093c 40%);
    background: linear-gradient(-45deg, #B80734 0%,#d5093c 40%);
}
.heart.top {
    z-index:3;
}
.side {
    width: 162px;
    height: 162px;
    border-radius: 120px;
    z-index: 4;
}
.center {
    width: 160px;
    height: 160px;
    bottom: -16px;
    left: 18px;
    font-size:0;
}
.left {
    left:71px;
}
.right {
    right:75px;
}

.video {
    width: 99%;
    text-align: center;
    position: absolute;
    top: -9999px;

    transition-property: top;
    transition-duration: 0.5s;
    webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
}

.video iframe {
    width: 58%;
    height: 600px;
}

.text-code {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 40px;
}

.secret-code {
    text-align: center;
    position: absolute;
    top: -9999px;

    transition-property: top;
    transition-duration: 0.5s;
    webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
}

@media (max-width: 1200px) {
    .video iframe {
        height: 400px;
    }
}


@media (max-width: 680px) {
    body {
        font-size: 42px;
    }

    .video iframe {
        width: 100%;
        height: 230px;
    }

    .secret-code img{
        width: 250px;
    }
}
